<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- body -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 main_header_right col-12 align-item-center">
                        <figure>
                            <img src="./images/bg1.png" alt="Keshav" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 main_header_left col-12">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr">Developer</span> and a blogger</h1>
                        <a href="/weather"><button>Weather App</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>